// Frankenfont
// A custom font made by combining glyphs from mononoki, DejaVu Sans Mono,
// Symbola and Droid, and adjusting the width where necessary to get a
// consistent fixed-width font.
//
// NOTE: The font has some rendering issues on Windows (#591)
//       and is currently disabled.
//
// @font-face{
//     font-family: 'Frankenfont';
//     src: url('../webfonts/Frankenfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// mononoki
// See: https://madmalik.github.io/mononoki/
@font-face {
    font-family: 'mononoki';
    src: url('../webfonts/mononoki.woff2') format('woff2'),
         url('../webfonts/mononoki.woff')  format('woff');
    font-weight: normal;
    font-style: normal;
}

// DejaVu Sans Mono
// See: https://dejavu-fonts.github.io/
@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('../webfonts/DejaVuSansMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// FreeMono
// See: https://www.gnu.org/software/freefont/
@font-face {
    font-family: 'FreeMono';
    src: url('../webfonts/FreeMono.woff') format('woff');
    font-stretch: normal;
    font-style: normal;
}

// Source Code Pro
// See: https://github.com/adobe-fonts/source-code-pro
@font-face {
    font-family: 'Source Code Pro';
    src: url('../webfonts/SourceCodePro.woff2') format('woff2'),
         url('../webfonts/SourceCodePro.woff') format('woff');
    font-stretch: normal;
    font-style: normal;
}

@mixin code-font {
    font-family: 'mononoki', 'DejaVu Sans Mono', 'FreeMono', 'Source Code Pro', monospace;
    font-size: .85em;
}
@mixin code-container {
    padding: .4em .4em;
    background: #e8f2fb;
    border: 1px solid #c9e1f6;
    border-radius: 3px;
}

/* Code. */
pre {
    break-inside: avoid;
}
pre.highlight {
    @include code-container;
    border-style: dashed !important;
}
code {
    @include code-font;
    white-space: pre;
}

/* Agda. */
pre.Agda {
    @include code-font;
    @include code-container;
}

pre.Spec {
    @include code-font;
    @include code-container;
    border-style: dashed !important;
    color: #B22222;
}

/* Aspects. */
.Comment       { color: #B22222 }
.Keyword       { color: #CD6600 }
.String        { color: #B22222 }
.Number        { color: #A020F0 }
.Symbol        { color: #404040 }
.PrimitiveType { color: #0000CD }
.Operator      {}

/* NameKinds. */
.Bound                  { color: black   }
.InductiveConstructor   { color: #008B00 }
.CoinductiveConstructor { color: #8B7500 }
.Datatype               { color: #0000CD }
.Field                  { color: #EE1289 }
.Function               { color: #0000CD }
.Module                 { color: #A020F0 }
.Postulate              { color: #0000CD }
.Primitive              { color: #0000CD }
.Record                 { color: #0000CD }

/* OtherAspects. */
.DottedPattern      {}
.UnsolvedMeta       { color: black; background: yellow         }
.UnsolvedConstraint { color: black; background: yellow         }
.TerminationProblem { color: black; background: #FFA07A        }
.IncompletePattern  { color: black; background: #F5DEB3        }
.Error              { color: red;   text-decoration: underline }
.TypeChecks         { color: black; background: #ADD8E6        }

/* Standard attributes. */
.Agda a { text-decoration: none }
.Agda a[href]:hover { background-color: #B4EEB4 }
