*.agdai
*.aux
*.bbl
*.blg
*.code-workspace
*.el
*.fdb_latexmk
*.fls
*.local
*.log
*.pdf
*.spl
*.synctex.gz
*.zip
/Gemfile.lock
/_build/
/_cache/
/_site/
/dist-newstyle/
/node_modules/
!cabal.project.ci.local
!cabal-project.ghc-8.10.ci.local
!cabal-project.ghc-9.0.ci.local
!cabal-project.ghc-9.2.ci.local
!cabal-project.ghc-9.4.ci.local
!plfa.pdf
