!cabal.project.ci.local
!data/legacy/19.08.zip
!data/legacy/20.07.zip
!plfa.pdf
# Agda files
# GHC / Cabal / Stack
# Latex
# Mac droppings
# PLFA specific items to ignore
*.agdai
*.aux
*.bbl
*.blg
*.code-workspace
*.el
*.fdb_latexmk
*.fls
*.local
*.log
*.pdf
*.spl
*.synctex.gz
*.zip
.DS_Store
/Gemfile.lock
/_build/
/_cache/
/_site/
/dist-newstyle/
/node_modules/
