repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-shebang-scripts-are-executable
    -   id: check-symlinks
    -   id: check-vcs-permalinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: detect-private-key
    -   id: fix-byte-order-marker
    -   id: file-contents-sorter
        args: [--unique]
        files: '\.epubcheck\.tsv|\.gitignore|\.htmlvalidateignore'
    -   id: forbid-new-submodules
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace
