<nav class="pager">
    <ul class="pagination">
        $if(prev)$
        <li><a class="pagelink" href="$prev$">Prev</a></li>
        <li class="separator">&bullet;</li>
        $endif$
        $if(source)$
        <li><a class="pagelink" href="https://github.com/$repository.owner$/$repository.name$/blob/$repository.branch$/$source$">Source</a></li>
        <li class="separator">&bullet;</li>
        $endif$
        $if(next)$
        <li><a class="pagelink" href="$next$">Next</a></li>
        <li class="separator">&bullet;</li>
        $endif$
    </ul>
</nav>
