<article class="post h-entry" itemscope itemtype="https://schema.org/BlogPosting">
    <header class="post-header">
        <h1 class="post-title p-name" itemprop="name headline">$title$</h1>
        <p class="post-meta">
            <time class="dt-published" datetime="$date$" itemprop="datePublished">
                $date$
            </time>
        </p>
    </header>
    <div class="post-content e-content" itemprop="articleBody">
$body$
    </div>
    <a class="u-url" href="$url$" hidden></a>
</article>
