---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "katex";
@import "minima";
@import "agda";

$on-medium: 600px !default;

.trigger { display: none; }

@media screen and (min-width: $on-medium) {
  .trigger { display: block; }
}

ul.list-of-contributors {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: calc(100% - 2rem);
}

ul.list-of-contributors li {
    margin-right: 2rem;
}

pre {
    break-inside: avoid;
}
