<nav class="pager">
    <ul class="pagination">
        {{#prev}}
        <li><a class="pagelink" href="{{url}}">Prev</a></li>
        <li class="separator">&bullet;</li>
        {{/prev}}
        {{#source}}
        <li><a class="pagelink" href="https://github.com/{{repository}}/blob/{{branch}}/{{file}}">Source</a></li>
        <li class="separator">&bullet;</li>
        {{/source}}
        {{#next}}
        <li><a class="pagelink" href="{{url}}">Next</a></li>
        <li class="separator">&bullet;</li>
        {{/next}}
    </ul>
</nav>
