<ul class="social-media-list">
    {{#github}}
    <li><a rel="me" href="https://github.com/{{username}}" title="{{username}}"><svg class="svg-icon grey"><use xlink:href="/public/minima-social-icons.svg#github"></use></svg>&nbsp;{{username}}</a></li>
    {{/github}}
    {{#twitter}}
    <li><a rel="me" href="https://twitter.com/{{username}}" title="{{username}}"><svg class="svg-icon grey"><use xlink:href="/public/minima-social-icons.svg#twitter"></use></svg>&nbsp;{{username}}</a></li>
    {{/twitter}}
</ul>
