/* JuliaMono */
/* See: https://juliamono.netlify.app/download/ */
@font-face {
  font-family: 'JuliaMono';
  src: url('../fonts/JuliaMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JuliaMono';
  src: url('../fonts/JuliaMono-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'JuliaMono';
  src: url('../fonts/JuliaMono-RegularItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'JuliaMono';
  src: url('../fonts/JuliaMono-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}
