---
layout: default
---

<div class="home">

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h1 class="post-list-heading">Announcements</h1>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h2>{{ post.title | escape }}</h2>
        {%- if post.short -%}
          {{ post.excerpt }}
        {%- else -%}
          {{ post.excerpt }}
          <a href="{{ post.url | relative_url }}">(more)</a>
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="feed-subscribe"><svg class="svg-icon orange"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p>
  {%- endif -%}

</div>
