name: CI

on:
  push:
    branches:
      - dev
  pull_request:
    types:
      - opened
      - synchronize

env:
  CABAL_ARGS: "--project-file=cabal.project.ci"
  HTML_PROOFER: "bundle exec htmlproofer"
  NOKOGIRI_USE_SYSTEM_LIBRARIES: true

jobs:
  build:
    name: ${{ matrix.os }} / GHC ${{ matrix.ghc }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macOS-latest, ubuntu-latest]
        ghc: ["8.10.7"]
        node: ["latest"]
        cabal: ["latest"]

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: 'true'

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Setup EPUBCheck (Linux)
        if: runner.os == 'Linux'
        run: sudo apt-get install -y epubcheck

      - name: Setup EPUBCheck (macOS)
        if: runner.os == 'macOS'
        run: brew install epubcheck

      - name: Setup Haskell
        uses: haskell/actions/setup@v2
        id: setup-haskell
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: ${{ matrix.cabal }}

      - name: Cabal freeze
        run: |
          cabal v2-update
          cabal v2-freeze $CABAL_ARGS --enable-tests --enable-benchmarks

      - name: Add Cabal installdir to path (Unix)
        if: runner.os == 'Linux' || runner.os == 'macOS'
        run:  echo "${HOME}/.cabal/bin" >> $GITHUB_PATH
        shell: bash

      - name: Add Cabal installdir to path (Windows)
        if: runner.os == 'Windows'
        run: echo "$env:APPDATA\cabal\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
        shell: powershell

      - name: Cache ~/.cabal/store and dist-newstyle
        uses: actions/cache@v3
        with:
          path: |
            ${{ steps.setup-haskell.outputs.cabal-store }}
            dist-newstyle
          key: ${{ matrix.os }}-GHC-${{ matrix.ghc }}-${{ hashFiles('cabal.project.ci.freeze') }}
          restore-keys: ${{ matrix.os }}-GHC-${{ matrix.ghc }}-
          
      - name: Cache _cache and _site
        uses: actions/cache@v3
        with:
          path: |
            _cache
            _site
          key: ${{ matrix.os }}-output

      - name: Build website
        run: make build

      - name: Test with html-validate
        run: make test-html-validate

      - name: Test with HTMLProofer
        run: make test-html-proofer

      - name: Test with EPUBCheck
        if: runner.os == 'Linux' || runner.os == 'macOS'
        run: make test-epubcheck
                
      - name: Deploy website
        if: runner.os == 'Linux' && github.event_name == 'push'
        uses: JamesIves/github-pages-deploy-action@v4.3.3
        with:
          branch: web
          folder: _site

        
