@mixin code-font {
    font-family: 'Frankenfont', 'FreeMono', 'DejaVu Sans Mono', 'mononoki', 'Source Code Pro', monospace;
    font-size: .85em;
}
@mixin code-container {
    padding: .4em .4em;
    background: #212121;
    border: 1px solid #414141;
    border-radius: 3px;
}

/* Code. */
pre {
    break-inside: avoid;
}
pre.highlight {
    @include code-container;
    border-style: dashed !important;
}
code {
    @include code-font;
    white-space: pre;
}

/* Agda. */
pre.Agda {
    @include code-font;
    @include code-container;
}

pre.Spec {
    @include code-font;
    @include code-container;
    border-style: dashed !important;
    color: #B22222;
}

/* Aspects. */
.Agda .Comment       { color: #b64343 }
.Agda .Keyword       { color: #ce8133 }
.Agda .String        { color: #B22222 }
.Agda .Number        { color: #b051eb }
.Agda .Symbol        { color: #8b8b8b }
.Agda .PrimitiveType { color: #4343ca }
.Agda .Operator      {}

/* NameKinds. */
.Agda .Bound                  { color: #bbbbbb }
.Agda .InductiveConstructor   { color: #3a833a }
.Agda .CoinductiveConstructor { color: #8B7500 }
.Agda .Datatype               { color: #4343ca }
.Agda .Field                  { color: #EE1289 }
.Agda .Function               { color: #4343ca }
.Agda .Module                 { color: #b051eb }
.Agda .Postulate              { color: #4343ca }
.Agda .Primitive              { color: #4343ca }
.Agda .Record                 { color: #4343ca }

/* OtherAspects. */
.Agda .DottedPattern      {}
.Agda .UnsolvedMeta       { color: #bbbbbb; background: yellow         }
.Agda .UnsolvedConstraint { color: #bbbbbb; background: yellow         }
.Agda .TerminationProblem { color: #bbbbbb; background: #FFA07A        }
.Agda .IncompletePattern  { color: #bbbbbb; background: #F5DEB3        }
.Agda .Error              { color: #B22222;   text-decoration: underline }
.Agda .TypeChecks         { color: #bbbbbb; background: #ADD8E6        }

/* Standard attributes. */
.Agda a { text-decoration: none }
.Agda a[href]:hover { background-color: #377037 }
